// Marges
$margin-small: 0.5rem;
$margin-medium: 1rem;
$margin-large: 1.5rem;

$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 1.5rem;

 
$border-radius: 8px;

$primary-light: #F0F8FF;

$primary: #286ec9;
