@charset "UTF-8";
#menu-lateral {
  margin-top: 0.5rem;
  padding: 0.75rem;
  background-color: aliceblue;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px; }
  #menu-lateral ul {
    list-style-type: none; }
    #menu-lateral ul li.nav-item {
      margin: 0.25rem 0px;
      /* Elément courant */ }
      #menu-lateral ul li.nav-item a {
        padding-left: 0.5rem; }
        #menu-lateral ul li.nav-item a:hover {
          border-left: #000 2px solid;
          background-color: #008ECC;
          color: #ffffff; }
      #menu-lateral ul li.nav-item.current-menu-item > a {
        font-weight: bold;
        border-left-color: #1d87da;
        border-left-style: solid;
        border-left-width: 3px; }

.mf-post {
  margin-top: 1.5rem;
  background-color: #E0EAF8;
  padding: 1rem;
  border-radius: 8px; }
  .mf-post .mf-thumbnail {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem; }
  .mf-post .mf-post-title {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #1d87da; }
  .mf-post .mf-post-infos {
    display: flex;
    justify-content: end;
    font-style: italic;
    font-size: small; }
    .mf-post .mf-post-infos:before {
      width: 16px;
      content: '\270f';
      margin-right: 0.25rem; }
