/*
Theme Name: Myosites france Enfant
Description: Theme enfant de Myosites france. Vous pouvez maintenant effectuer vos modifications en toute sécurité.
Author: WPMarmite
Author URI: https://wpmarmite.com
Template: astra
Version: 1.0
*/